# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and debug files
*.log
*.out
*.err

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pylint reports
pylint-report.txt

# Temporary files
*.tmp
*.bak
*.old
*.orig

# Secrets and environment variables
.env
.env.*

# Docker-related
*.pid
